<footer>
  <p>
  <div align="right" style="font-size: medium">
    <a href="http://marvel.com">Data provided by Marvel. &copy; <%= Time.now.year %> Marvel</a>
  </div>
  <div align="left">
    &copy; Comic Authority <%= Time.now.year %>
  </div>
  </p>
</footer>